::selection, ::-moz-selection {
  background: transparent; }

* {
  margin: 0;
  padding: 0;
  cursor: default; }

html, body {
  height: 100%;
  background: #2E112D; }

.wrapper {
  margin: auto;
  height: 100%;
  width: 80%;
  background: #540032; }

.playfield {
  display: block;
  position: relative;
  width: 50%; }

.playfield:before {
  content: "";
  display: block;
  padding-top: 100%;
  opacity: 1; }

.board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column; }

.board div {
  width: 50%; }

.row {
  width: 100%; }

.op_button {
  display: flex;
  flex: 0 0 20px;
  position: relative;
  overflow: hidden;
  height: 20px;
  padding: 50px;
  background: #C9283E;
  color: #540032;
  font-size: 24pt;
  font-weight: bold;
  transition: 35ms ease-in;
  top: 0px;
  box-shadow: 0px 20px 0 0px #820333; }

.op_button:active {
  top: 20px;
  box-shadow: 0px 0px 0 0px #820333; }

.obey {
  position: relative;
  top: 0;
  font-size: 36pt;
  font-family: monospace;
  overflow: hidden;
  border-radius: 50%;
  flex: 0 0 20px;
  height: 20px;
  width: 20px;
  padding: 60px;
  margin: 5px;
  background: #F07D37;
  color: #540032;
  box-shadow: 0 20px 0 0 #cb560f;
  transition: 35ms ease-in; }

.obey:active {
  top: 20px;
  box-shadow: 0 0px 0 0 #cb560f; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes cpu_push {
  0% {
    top: 0px;
    box-shadow: 0px 20px 0 0px #820333; }
  50% {
    top: 20px;
    box-shadow: 0px 0px 0 0px #820333; }
  100% {
    top: 0px;
    box-shadow: 0px 20px 0 0px #820333; } }
@keyframes cpu_obey_push {
  0% {
    top: 0px;
    box-shadow: 0px 20px 0 0px #cb560f; }
  50% {
    top: 20px;
    box-shadow: 0px 0px 0 0px #cb560f; }
  100% {
    top: 0px;
    box-shadow: 0px 20px 0 0px #cb560f; } }
.op_button_jQPush {
  animation: cpu_push 175ms 1;
  animation-timing-function: ease-out; }

.obey_button_jQPush {
  animation: cpu_obey_push 175ms 1;
  animation-timing-function: ease-in; }

.no-show {
  opacity: 0; }

.op-popup {
  animation: op_button_popup 1250ms 1;
  animation-fill-mode: both; }

.op-popdown {
  animation: op_button_popup 1250ms 1;
  animation-direction: reverse;
  animation-fill-mode: both; }

.obey-correct {
  animation: obey_correct 500ms 1; }

.obey-wrong {
  animation: obey_wrong 750ms 1; }

@keyframes op_button_popup {
  0% {
    top: 20px;
    height: 0px;
    padding: 0;
    margin: 60px;
    opacity: 1;
    box-shadow: 0px 0px 0 0px #820333; }
  25% {
    top: 20px;
    height: 5px;
    padding: 0 50px;
    margin: 57px 0;
    box-shadow: 0px 0px 0 0px #820333; }
  65% {
    top: 20px;
    height: 20px;
    padding: 50px;
    margin: 0px;
    box-shadow: 0px 0px 0 0px #820333; }
  100% {
    top: 0;
    height: 20px;
    padding: 50px;
    margin: 0px;
    box-shadow: 0px 20px 0 0px #820333; } }
@keyframes obey_correct {
  0% {
    background: #F07D37;
    box-shadow: 0 20px 0 0 #cb560f; }
  35% {
    background: #90b40d;
    box-shadow: 0 20px 0 0 #576c08; }
  100% {
    background: #F07D37;
    box-shadow: 0 20px 0 0 #cb560f; } }
@keyframes obey_wrong {
  0% {
    background: #F07D37;
    box-shadow: 0 20px 0 0 #cb560f; }
  15% {
    background: #e31119;
    box-shadow: 0 20px 0 0 #b40d14; }
  65% {
    background: #9c0c1d;
    box-shadow: 0 20px 0 0 #6c0814; }
  100% {
    background: #F07D37;
    box-shadow: 0 20px 0 0 #cb560f; } }

/*# sourceMappingURL=master.css.map */
