$primaryColor: #2E112D;
$secondaryColor: #540032;
$tertiaryColor: #820333;
$highlightColor: #C9283E;
$specularColor: #F07D37;
$obeyShadow: darken($specularColor,15%);

@mixin color_keys($animationName, $color){
	@keyframes #{$animationName}{
		0%{
			top:0px;
			box-shadow: 0px 20px 0 0px #{$color};
		}

		50%{
			top:20px;
			box-shadow: 0px 0px 0 0px #{$color};
		}

		100%{
			top:0px;
			box-shadow: 0px 20px 0 0px #{$color};
		}
	}
}

::selection, ::-moz-selection{
	background:transparent;
}

*{
	margin:0;
	padding:0;

	cursor:default;
}
html,body{
	height:100%;
  background: $primaryColor;
}

.wrapper{
  margin:auto;
  height:100%;
  width:80%;

  background:$secondaryColor;
}

.playfield{
	display:block;
	position:relative;
  width:50%;
  // background:$specularColor;
}
.playfield:before{
  // aspect ratio hack, gets height from width of .playfield
  content:"";
  display:block;
  padding-top:100%;
	opacity:1;
}

.board{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

	flex-direction: column;
}

.board div{
	width:50%;
}

.row{
	width:100%;
}

// .row .op_button{
// 	// display:block;
// 	height:20px;
// 	width:20px;
// 	padding: 50px;
// }

.op_button{
	display:flex;
	flex:0 0 20px;

	position:relative;
	overflow:hidden;

	height:20px;
	// width:20px;
	padding: 50px;

	background: $highlightColor;
	color: $secondaryColor;
	font-size: 24pt;
	font-weight:bold;

	transition: 35ms ease-in;

	top:0px;
	box-shadow: 0px 20px 0 0px $tertiaryColor;
}
.op_button:active{
	top:20px;
	box-shadow: 0px 0px 0 0px $tertiaryColor;
}

.obey{
	position:relative;
	top:0;

	font-size: 36pt;
	font-family: monospace;
	// letter-spacing: -10pt;
	overflow: hidden;

	border-radius: 50%;

	flex:0 0 20px;

	height:20px;
	width:20px;
	padding:60px;
	margin:5px;

	background:$specularColor;
	color: $secondaryColor;
	box-shadow: 0 20px 0 0 $obeyShadow;

	transition:35ms ease-in;
}

.obey:active{
	top:20px;
	box-shadow: 0 0px 0 0 $obeyShadow;
}

.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

@include color_keys(cpu_push, $tertiaryColor);
@include color_keys(cpu_obey_push, $obeyShadow);

.op_button_jQPush{
	animation: cpu_push 175ms 1;
	animation-timing-function: ease-out;
}

.obey_button_jQPush{
	animation: cpu_obey_push 175ms 1;
	animation-timing-function: ease-in;
}

.no-show{
	opacity:0;
}

.op-popup{
	animation: op_button_popup 1250ms 1;
	animation-fill-mode: both;
}
.op-popdown{
	animation: op_button_popup 1250ms 1;
	animation-direction: reverse;
	animation-fill-mode: both;
}

.obey-correct{
	animation: obey_correct 500ms 1;
}
.obey-wrong{
	animation: obey_wrong 750ms 1;
}

@keyframes op_button_popup{
	0%{
		top:20px;
		height:0px;
		padding:0;
		margin:60px;
		// set opacity to 1 to bring em back from the dead
		opacity:1;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	25%{
		top:20px;
		height:5px;
		padding: 0 50px;
		margin: 57px 0;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	65%{
		top:20px;
		height:20px;
		padding: 50px;
		margin: 0px;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	100%{
		top:0;
	height:20px;
	padding:50px;
	margin:0px;
	box-shadow: 0px 20px 0 0px $tertiaryColor;
	}
}

@keyframes obey_correct{
	0%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
	35%{
		background: darken(adjust-hue($specularColor, 50%),20%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, 50%),20%);
	}
	100%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
}

@keyframes obey_wrong{
	0%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
	15%{
		background: darken(adjust-hue($specularColor, -25%),10%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -25%),5%);
	}
	65%{
		background: darken(adjust-hue($specularColor, -30%),25%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -30%),20%);
	}
	100%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
}
