@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');

$primaryColor: #2E112D;
$secondaryColor: #540032;
$tertiaryColor: #820333;
$highlightColor: #C9283E;
$specularColor: #F07D37;
$obeyShadow: darken($specularColor,15%);

@mixin color_keys($animationName, $color){
	@keyframes #{$animationName}{
		0%{
			top:0px;
			box-shadow: 0px 20px 0 0px #{$color};
		}

		12%{
			top:20px;
			box-shadow: 0px 0px 0 0px #{$color};
		}
		60%{
			top:18px;
			box-shadow: 0px 2px 0 0px #{$color};
		}

		100%{
			top:0px;
			box-shadow: 0px 20px 0 0px #{$color};
		}
	}
}

::selection{background:transparent;}
::-moz-selection{background:transparent;}

*{
	margin:0;
	padding:0;

	cursor:default;
	font-family: Quicksand, sans-serif;
}
html,body{
	height:100%;
  background: $primaryColor;
}

.wrapper{
  margin:auto;
  height:100%;
  width:80%;

	flex-direction: column;

  background:$secondaryColor;
}

.top-header{
	position: absolute;
	top:0;
	left:0;
	margin:0 0 0 10%;

	flex-direction: column;
}

.strict-select{
	top:100%;
	right:10%;
	width:97%;
	text-align:left;

	.stricter{
		display:block;
		cursor:pointer;
		color: $primaryColor;
	}
}

.title{
	font-size:48pt;
	color:$primaryColor;
}

.playfield{
	display:block;
	position:relative;
  width:50%;
}
.playfield:before{
  // aspect ratio hack, gets height from width of .playfield
  content:"";
  display:block;
  padding-top:100%;
	opacity:1;
}

.board{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

	flex-direction: column;
}

.board div{
	width:50%;
}

.row{
	width:100%;
}

.op_button{
	display:flex;
	flex:0 0 20px;

	position:relative;
	overflow:hidden;

	height:20px;
	// width:20px;
	padding: 50px;

	background: $highlightColor;
	color: $secondaryColor;
	font-size: 24pt;
	font-weight:700;

	transition: 35ms ease-in;

	top:0px;
	box-shadow: 0px 20px 0 0px $tertiaryColor;
	cursor:pointer;
}
.op_button:active{
	top:20px;
	box-shadow: 0px 0px 0 0px $tertiaryColor;
}

.obey{
	position:relative;
	top:0;

	font-size: 36pt;
	font-weight:700;
	letter-spacing: -3px;

	overflow: hidden;

	border-radius: 50%;

	flex:0 0 20px;

	height:20px;
	width:20px;
	padding:60px;
	margin:5px;

	background:$specularColor;
	color: $secondaryColor;
	box-shadow: 0 20px 0 0 $obeyShadow;

	transition:35ms ease-in;
	cursor:pointer;
}

.obey:active{
	top:20px;
	box-shadow: 0 0px 0 0 $obeyShadow;
}

.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

@include color_keys(cpu_push, $tertiaryColor);
@include color_keys(cpu_obey_push, $obeyShadow);

.op_button_jQPush{
	animation: cpu_push 250ms 1;
	animation-timing-function: ease;
}

.obey_button_jQPush{
	animation: cpu_obey_push 175ms 1;
	animation-timing-function: ease-in;
}

.no-show{
	cursor:default;
	opacity:0;
}

.op-popup{
	animation: op_button_popup 1250ms 1;
	animation-fill-mode: both;
}
.op-popdown{
	animation: op_button_popup 1250ms 1;
	animation-direction: reverse;
	animation-fill-mode: both;
}

.obey-correct{
	animation: obey_correct 500ms 1;
}
.obey-wrong{
	animation: obey_wrong 750ms 1;
}
.obey-wrong-strict{
	animation: obey_wrong_strict 500ms 1;
}

@keyframes op_button_popup{
	0%{
		top:20px;
		height:0px;
		padding:0;
		margin:60px;
		// set opacity to 1 to bring em back from the dead
		opacity:1;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	25%{
		top:20px;
		height:5px;
		padding: 0 50px;
		margin: 57px 0;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	65%{
		top:20px;
		height:20px;
		padding: 50px;
		margin: 0px;
		box-shadow: 0px 0px 0 0px $tertiaryColor;
	}
	100%{
		top:0;
	height:20px;
	padding:50px;
	margin:0px;
	box-shadow: 0px 20px 0 0px $tertiaryColor;
	}
}

@keyframes obey_correct{
	0%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
	35%{
		background: darken(adjust-hue($specularColor, 50%),20%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, 50%),20%);
	}
	100%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
}

@keyframes obey_wrong{
	0%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
	15%{
		background: darken(adjust-hue($specularColor, -25%),10%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -25%),5%);
	}
	65%{
		background: darken(adjust-hue($specularColor, -30%),25%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -30%),20%);
	}
	100%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
}
@keyframes obey_wrong_strict{
	0%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
	5%{
		background: darken(adjust-hue($specularColor, -30%),25%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -30%),20%);
	}
	50%{
		background: darken(adjust-hue($specularColor, -30%),25%);
		box-shadow: 0 20px 0 0 darken(adjust-hue($obeyShadow, -30%),20%);
	}
	100%{
		background: $specularColor;
		box-shadow: 0 20px 0 0 $obeyShadow;
	}
}

.junq{
    width:0;
    height:0;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    border-bottom: solid 60px $secondaryColor;

    position:absolute;
    right:10px;
    bottom:10px;

    cursor:pointer;cursor:hand;
}
.junq::before{
    content:'';
    display:block;
    width:20px;
    height:20px;
    background:$primaryColor;

    position:relative;
    right:10px;
    bottom:-25px;

    border-radius: 80% 5%;
    transform:rotate(45deg);
}
.junq::after{
    content:'';
    display:block;
    width:18px;
    height:18px;
    background:$secondaryColor;

    position:relative;
    border-radius:50%;

    right:9px;
    bottom:-1px;
}
.junq-lash{
    position:absolute;
    right:44px;
    bottom:23px;
    width:2px;
    height:5px;

    background:$primaryColor;
}
.junq-lash::before{
    content:'';
    display:block;
    width:3px;
    height:5px;
    background:$primaryColor;

    position:relative;
    right:8px;
    bottom:2px;
    transform:rotate(23deg);
}
.junq-lash::after{
    content:'';
    display:block;
    width:3px;
    height:6px;
    background:$primaryColor;

    position:relative;
    right:-7px;
    bottom:7px;
    transform:rotate(-23deg);
}
